.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItem{
padding: 10px 0;
}
.dialogsItem .active{
    color:gold ;
}

.messages{
    padding: 10px 0;
}
.item{
    padding: 5px 0;
}